PG_API_KEY=change-me
AWS_REGION=af-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PG_COLLECTION_BANNED=hv-playguard-banned
PG_DYNAMO_TABLE=hv-playguard-events
PG_AGE_THRESHOLD=18
PG_MATCH_THRESHOLD=90
PG_QUEUE_PATH=./playguard-queue.json
